.account-info-container {
    margin: 0 auto;
    width: 99%;
    display: flex;
    flex-direction: row;
}
.account-info-container > div:nth-child(1) {
    width: 25%;
    padding: 15px;
}

.account-info-container > div:nth-child(2) {
    width: 75%;
    padding: 20px 0 0 30px;
}
.profile-info-wrapper {
    width: 40%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.profile-info-wrapper > div {
    font-size: 16px;
}
.font-weight-600 {
    font-weight: 600;
}
.flex {
    display: flex;
    flex-direction: row;
}